@font-face {
  font-family: Mulish;
  src: url("../../assets/fonts/Mulish/Mulish-Regular.ttf");
}
@font-face {
  font-family: Mulish-Light;
  src: url("../../assets/fonts/Mulish/Mulish-Light.ttf");
}
@font-face {
  font-family: Mulish-SemiBold;
  src: url("../../assets/fonts/Mulish/Mulish-SemiBold.ttf");
}